---
layout: splash
title: "Nick Gorichs"
date: 2022-06-13T21:55:00-06:00
author_profile: true
header:
  image: /assets/images/ju-on-2FugvjLZuN4-unsplash.jpg
  caption: "Photo credit: [eberhard grossgasteiger on Unsplash](https://unsplash.com/photos/cs0sK0gzqCU)"
excerpt: "*Electrical engineer* by day, aspiring *machine learning engineer* by night."
intro: 
  - excerpt: "My Projects"
feature_row:
  - image_path: assets/images/sahand-babali-Vbn9DriDqoA-unsplash.jpg
    image_caption: "Photo credit: [Sahand Babali on Unsplash](https://unsplash.com/photos/Vbn9DriDqoA)"
    alt: "Petting Zoo Environment"
    title: "Combined Arms MAgent"
    excerpt: "[A Petting Zoo Multi-Agent environment](https://filipinogambino.github.io/ngorichs/combined_arms/archive/)"
  - image_path: /assets/images/tyler-prahm-lmV3gJSAgbo-unsplash.jpg
    image_caption: "Photo credit: [Tyler Prahm on Unsplash](https://unsplash.com/photos/lmV3gJSAgbo)"
    alt: ""
    title: "SPY Bot"
    excerpt: "[A bot that trades the S&P 500 ETF (ticker SPY)](https://filipinogambino.github.io/ngorichs/spy_bot/archive/)"
---

{% include feature_row id="intro" type="center"%}

{% include feature_row %}
