---
layout: splash
title: "Nick Gorichs"
date: 2022-06-13T21:55:00-06:00
author_profile: false
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/spacex--p-KCm6xB9I-unsplash.jpg
  caption: "Photo credit: [SpaceX on Unsplash](https://unsplash.com/photos/-p-KCm6xB9I?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink)"
excerpt: "*Electrical engineer* by day, aspiring *machine learning engineer* by night."
feature_row:
  - image_path: assets/images/combined_arms_v6_opening.png
    image_caption: "Image from [PettingZoo.ml](https://www.pettingzoo.ml/magent/combined_arms)"
    alt: "Petting Zoo Environment"
    title: "Combined Arms MAgent"
    excerpt: "Petting Zoo's Multi-Agent environment"
    url: https://filipinogambino.github.io/ngorichs/combined_arms/combined-arms-part-1/
    btn_label: "View Project Posts"
    btn_class: "btn--inverse"
  - image_path: /assets/images/tyler-prahm-lmV3gJSAgbo-unsplash.jpg
    image_caption: "Photo credit: [Tyler Prahm on Unsplash](https://unsplash.com/photos/lmV3gJSAgbo)"
    alt: ""
    title: "SPY Bot"
    excerpt: "A bot that trades the S&P 500 ETF (ticker SPY)"
    url: https://filipinogambino.github.io/ngorichs/combined_arms/combined-arms-part-2/
    btn_label: "View Project Posts"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
